body{
margin:0;
font-family:Arial;
background:black;
color:white;
overflow:hidden;
}


/* LOCK SCREEN */

.lock-screen{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.lock-box{
background:rgba(255,182,193,0.1);
padding:40px;
border-radius:15px;
text-align:center;
}


/* UNIVERSE */

.universe{
display:none;
height:100vh;
justify-content:center;
align-items:center;
flex-direction:column;
}


/* BUTTON */

.btn{
padding:12px 20px;
border:none;
border-radius:10px;
background:#ff4da6;
color:white;
cursor:pointer;
margin-top:15px;
}


/* MEMORY LANE FIX */

.memory-lane{

display:none;

position:fixed;

top:0;
left:0;

width:100vw;
height:100vh;

background:black;

overflow-y:auto;

z-index:9999;

padding-top:40px;

}


/* TIMELINE */

.timeline{

position:relative;

width:90%;
max-width:900px;

margin:auto;

}


#timeline-line{

position:absolute;

left:50%;

top:0;

width:4px;

height:100%;

background:#ff66b2;

transform:translateX(-50%);

}


/* MEMORY CARD */

.memory-card{

position:relative;

width:40%;

margin:40px 0;

padding:10px;

background:rgba(255,182,193,0.1);

border-radius:15px;

}


.memory-card img{

width:100%;

border-radius:10px;

}


/* LEFT */

.left{
left:0;
}


/* RIGHT */

.right{
left:60%;
}
